<div class="form_wrapper alert">
<% flash.each do |f,msg| %>
  <%= msg %>
<% end %>
</div>

<% if session[:user].id == @user.id %>
  <%= render "add_file" %>
<% end %>

<% if @user.documents.all.size > 0 %>
  <ul id="file_list" class="center_list">
    <%= render @user.documents.all.reverse %>
  </ul>
<% else %>
  <p id="no_files">
    Нямате качени файлове!
  </p>
<% end %>



<iframe id="hidden_iframe" name="hidden_iframe" style="display:none"></iframe>